{% load static %}
<!DOCTYPE html>
<html lang="en">

  {% include 'general/partials/head.html' %}

<body>

  <!-- ======= Header ======= -->
  {% include 'general/partials/header.html' %}
  <!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    {% include 'general/partials/breadcrumbs.html' %}
    <!-- End Breadcrumbs -->

    <!-- Dashboard -->
    {% if request.user.is_authenticated %}
    <h1>WELCOME, {{ request.user }}</h1>
    <p><img height="80" width="80" src="{{ user.image.url }}" alt="Profile Picture"></p>
    {% for account in saved_scores %}
    <p>Course Code: {{ account.courses_offered }}</p>
    <p>CA result: {{ account.ca }}</p>
    <p>Test result: {{ account.test }}</p>
    <p>Exam result: {{ account.exam }}</p>
    <hr>
    {% endfor %}
    <h2><a href="{% url 'logout-page' %}">LOGOUT</a></h2>
    {% else %}
    <p>Welcome, new user.<br><a href="{% url 'login-page' %}">PLEASE LOGIN</a></p>

    
     
    {% endif %}


</main><!-- End #main -->

<!-- ======= Footer ======= -->
{% include 'general/partials/footer.html' %}
<!-- End Footer -->

<div id="preloader"></div>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
{% include 'general/partials/scripts.html' %}

</body>

</html>